@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-indent: 0;
    color:darkslateblue;
    background-color: #D8EDE7;
    line-height: 15px;
}

h1 {
    color: blueviolet;
    font-size: 50px;
    padding: 20px;
    border: 3px double crimson;
    border-radius: 10px;
    margin: 6px;
    padding: 20px;
    text-align: center;
}

h2 {
  color: slateblue;
  font-size: 32px;
  padding: 10px;
  border-bottom: 3px dashed cadetblue;
  text-align: center;
  margin-bottom: 3px;
}

a {
    color: purple;
    text-decoration: wavy;
}

a:hover {
    color:darkmagenta;
    text-decoration: underline;
}

li,ul,ol,dd,dt {
    margin-bottom: 12px;
    text-align: left;
}

.container {
    border-color:darkseagreen;
    border-style: dotted;
    border-radius: 5px;
    border-bottom: 5px dotted lightcoral;
    border-width: 2px;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
}


.trip-card {
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #ddd; 
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
    text-align: center;
}



.parent {
    display: flex;
    justify-content: space-between;
}
.child {
    width: 48%;
    height: 100px;
}

table {
    border-color: darkblue;
    text-align: center;
    line-height: 1;
}

table {
    width: 95%;       
    margin: 20px auto;
    background-color: #ffffff;
}

th, td {
    text-align: center;
}

th {
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
}


fieldset {
    border: 2px solid darkblue;
    border-radius: 8px;
    padding: 15px;
    text-align: left;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    padding: 5px;
}

label {
    margin-bottom: 10px;
    display: inline-block;
}

input[name="userId"],input[name="userPw"],input[name="userName"],input[name="userEmail"],input[name="userBirth"],textarea[name="intro"],select[name="emailDomain"] {
    width: 95%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid darkblue;
    border-radius: 4px;
    display: block;
}

input[type="button"] {
    background-color: darkblue;
    color: white;
    width: 200px;
    height: 50px;
    font-size: large;
    border-radius: 8px;
    border-color: darkblue;
    font-family: "Gowun Dodum", sans-serif;
}

input[type="reset"] {
    background-color: white;
    color: darkblue;
    width: 200px;
    height: 50px;
    font-size: large;
    border-radius: 8px;
    border-color: darkblue;
    font-family: "Gowun Dodum", sans-serif;
}